<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container" style="color: white">
    <h1>My Movie Lists</h1>
    <div class="add-list-btn mt-3">
      <%= link_to 'Add List', new_list_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

  <div class="container">
    <div class="mt-3">
      <% @lists.each do |list| %>
        <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
          <%= link_to list.name, list_path(list), style: 'text-decoration: none; color: white;'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
