<div class="container">
<h1>My Lists</h1>
  <div class="add-list-btn mt-3">
    <%= link_to 'Add List', new_list_path, class: 'btn btn-primary' %>
  </div>
  <div class="cards mt-3">
    <ul>
      <% @lists.each do |list| %>
        <li>
          <%= link_to list.name, list_path(list) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
