<div class="container">
  <% @bookmarks.each do |bookmark| %>
    <div class="card-list">
      <h2><%= @list.name %></h2>
      <h2><%= bookmark.comment %></h2>
      <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Destroy this bookmark?"} do  %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  <% end %>
  </div>
</div>
